body, table td {
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: smaller;
    text-align: center;
}

#container {
    margin: 0 auto;
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

td {
    border: solid 1px gray;
    text-align: left !important;
}