body, table td {
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: small;
    text-align: center;
}

#container {
    margin: 0 auto;
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

td {
    border: solid 1px gray; padding: 3px;
    text-align: left !important;
}
td.vet {font-weight: bold;}
tr:hover {background-color: #FC3;}
/* hoofdmenu */
div#menu { font-family: "Lucida Grande", Helvetica, Arial, sans-serif; width:600px; height:34px; border: solid 1px #69002A; margin: 0 auto;}
div#menu ul {list-style-type:none;margin:0;}
div#menu li {float:left;margin:0;}
div#menu a {display:block; padding:10px; font-weight:bold; border-right: 1px solid #69002A; text-decoration: none; color: gray;}
div#menu a:hover {background:#69002A; color:#ffffff; font-weight:bold; display:block}